<!-- <app-login></app-login> -->
<form [formGroup]="select">
    <mat-form-field class="select">
        <mat-select formControlName="control" >
          <mat-option (click)="selEve('admin')" value="admin">
            Admin
          </mat-option>
          <mat-option (click)="selEve('user')" value="user">
            User
          </mat-option>
        </mat-select>
      </mat-form-field>
  </form>

<mat-card>
  <div flag class=" mat-elevation-z8">
    <mat-table [dataSource]="dataSource" matSort matSortActive="firstname" (matSortChange)="sortData($event)" >
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let users; let i=index">{{srno+i+1}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="firstname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
        <mat-cell *matCellDef="let users; "> {{users.firstname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="lastname">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
        <mat-cell *matCellDef="let users; "> {{users.lastname}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="username">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
        <mat-cell *matCellDef="let users; "> {{users.username}}  </mat-cell>
      </ng-container>
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
        <mat-cell *matCellDef="let users; "> {{users.email}}  </mat-cell>
      </ng-container>
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
        <mat-cell *matCellDef="let users; "> {{users.mobile}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef> Gender </mat-header-cell>
        <mat-cell *matCellDef="let users; "> {{users.gender}}  </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> <button mat-button color="accent" (click)="add()"><i class="material-icons">add</i></button> </mat-header-cell>
        <mat-cell *matCellDef="let users; let i=index"> 
          <button mat-icon-button color="accent" (click)="edit(users)"><i class="material-icons">edit</i></button>
          <button mat-icon-button color="accent" (click)="delete(i,users)"><i class="material-icons">delete</i></button>
          <button mat-icon-button color="accent" (click)="view(users)"><i class="material-icons">visibility</i></button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; let i=index columns: displayedColumns"></mat-row>
    </mat-table>

    <mat-paginator  #paginator
    [length]
     [pageSize]
     [showFirstLastButtons]="true"
    (page)="pageEvent = $event; onPaginateChange($event)">
    </mat-paginator>
  </div>
  </mat-card>